[submodule "references/references/TMS_2016_LOGS"]
	path = references/references/TMS_2016_LOGS
	url = https://github.com/amzoo/TMS_2016_LOGS
[submodule "references/TMS_2016_LOGS"]
	path = references/TMS_2016_LOGS
	url = https://github.com/amzoo/TMS_2016_LOGS
[submodule "references/car-tools"]
	path = references/car-tools
	url = https://github.com/dnoermann/car-tools
[submodule "references/openpilot"]
	path = references/openpilot
	url = https://github.com/BogGyver/openpilot/
[submodule "references/openpilot_0.6.6"]
	path = references/openpilot_0.6.6
	url = https://github.com/BogGyver/openpilot
	branch = tesla_0.6.6
[submodule "references/tesla"]
	path = references/tesla
	url = https://github.com/Lunars/tesla/
[submodule "references/tesla_can_signals"]
	path = references/tesla_can_signals
	url = https://github.com/talas9/tesla_can_signals/
[submodule "references/tesla_odj"]
	path = references/tesla_odj
	url = https://github.com/talas9/tesla_odj/
[submodule "references/CAN-RE-Tool"]
	path = references/CAN-RE-Tool
	url = https://github.com/openvehicles/CAN-RE-Tool/
[submodule "references/Tesla-Model-3-ABS-Emulator"]
	path = references/Tesla-Model-3-ABS-Emulator
	url = https://github.com/sydneyg007/Tesla-Model-3-ABS-Emulator
[submodule "references/Tesla-Model-3-EPAS-emulator"]
	path = references/Tesla-Model-3-EPAS-emulator
	url = https://github.com/sydneyg007/Tesla-Model-3-EPAS-emulator
[submodule "references/model3dbc"]
	path = references/model3dbc
	url = https://github.com/joshwardell/model3dbc/
